1. Question 1:
Create a variable age and assign it the value 25 . Then print the value of
age along with its data type using the type() function.

In [ ]:
age = 25

print("age:", age)
print("Data type of age:", type(age))

Value of age: 25
Data type of age: <class 'int'>

Question 2:
Assign the number 12.5 to a variable price . Print both the variable and its
data type. Then assign the value 12 to the same variable and print its data
type again. What do you observe?

In [ ]:
price = 12.5
print("Value of price:", price)
print("Data type of price:", type(price))

price = 12
print("Value of price after reassignment:", price)
print("Data type of price after reassignment:", type(price))

Value of price: 12.5
Data type of price: <class 'float'>
Value of price after reassignment: 12
Data type of price after reassignment: <class 'int'>

Question 3:
Create a variable is_raining and set it to True . Print the value of the variable
along with its type. Then set is_raining to False and print the new value and
type.

In [ ]:
is_raining = True
print(is_raining, type(is_raining))

is_raining = False
print(is_raining, type(is_raining))

True <class 'bool'>
False <class 'bool'>

Question 4: Create a variable my_name and print it using single quotes

In [ ]:
my_name = "Shankar Saravade"
print('My name is:', my_name)

My name is: Shankar Saravade

 Question 5: Ask the user for their name and age, and print a message

In [ ]:
name = input("Enter your name: ")
age = int(input("Enter your age: "))
print(f"Hello, {name}! You are {age} years old.")

Enter your name: Arvi
Enter your age: 26
Hello, Arvi! You are 26 years old.

Question 6: Assign values to x and y, print their types, sum them, and print the result

In [ ]:
x = 10
y = 3.5
print("x:", x, type(x))
print("y:", y, type(y))
sum_xy = x + y
print("Sum of x and y:", sum_xy, type(sum_xy))

x: 10 <class 'int'>
y: 3.5 <class 'float'>
Sum of x and y: 13.5 <class 'float'>

Question 7: Check and print data types of 45.0, "hello", None, and False

In [ ]:
print("Type of 45.0:", type(45.0))
print("Type of 'hello':", type("hello"))
print("Type of None:", type(None))
print("Type of False:", type(False))

Type of 45.0: <class 'float'>
Type of 'hello': <class 'str'>
Type of None: <class 'NoneType'>
Type of False: <class 'bool'>

Question 8: Print three strings on the same line, separated by space, then comma

In [ ]:
print("apple", "banana", "cherry", sep=" ")
print("apple", "banana", "cherry", sep=",")

apple banana cherry
apple,banana,cherry

 Question 9: Assign a large integer value to a variable and print it and its type

In [ ]:
big_number = 987654321987654321
print("Value of big_number:", big_number)
print("Type of big_number:", type(big_number))

Value of big_number: 987654321987654321
Type of big_number: <class 'int'>

Question 10: Multiply two floats and print the result and its type

In [ ]:
result = 2.5 * 3.7
print("Result of multiplying two floats:", result)
print("Type of the result:", type(result))

Result of multiplying two floats: 9.25
Type of the result: <class 'float'>